#Title{
    background: darkblue;
    border-radius: 25px;
    color: lightgoldenrodyellow;
    margin: 3%;
    padding: 10px;
    text-shadow: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.para{
    text-align: justify;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

#Search{
    text-align: center;
}

.button{
    background: url(artifacts/search.gif) no-repeat;
    background-color: rgb(249, 191, 15);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    background-position-x: 10%;
    background-position-y: 50%;
    cursor: pointer;
}