#title{
    background: darkblue;
    border-radius: 20px;
    color: #f4ecd8;
    margin: 5%;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f4ecd8;
}

.para{
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

.code{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#search{
    text-align: center;
}

input[type=text]{
    width:50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('artifacts/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.loader {
    border: 16px solid black;
    border-radius: 60%;
    border-top: 15px solid #4285f4;
    border-right: 15px solid #34a853;
    border-bottom: 15px solid #ea4335;
    border-left: 15px solid #fbbc05;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-left: 45%;
    margin-top: 2%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

td, th {
    text-align: center !important;
    padding: 8px;
}

.setText{
    color: #ce2c27;
}
.riseText{
    color: #cfa22b;
}